<div class=" svce">

  <div class="svce-block svce-main">
    <div class="principal" id="principal">
      <ion-grid class="mytoolbar" >
        <ion-row>
          <ion-col class="mytoolbar-icon" size="1">
            <!-- <a routerLink="/tabs/tab1">
              <ion-icon class="icon" name="chevron-back-outline"></ion-icon>
            </a> -->
          </ion-col>
          <ion-col class="colStart" size="10">

            <ion-title class="ion-text-center mytoolbar-title title-app" > Accueil des visiteurs </ion-title>
          </ion-col>
          <ion-col class="mytoolbar-icon" size="1" >

            <!-- <ion-icon   class="icon1" name="notifications-outline"></ion-icon> -->
          </ion-col>
        </ion-row>
      </ion-grid>

      <div id="contenuService">

        <ion-card class="lien-card">
          <ion-item lines="none">
            <ion-icon class="unify-icon" name="link-outline"></ion-icon>
            <ion-label class="list-lab">site web Iviplay </ion-label>
            <button class="btn-app" > voir </button>
          </ion-item>
        </ion-card>
        <ion-card class="lien-card">
          <ion-item lines="none">
            <ion-icon class="unify-icon" name="link-outline"></ion-icon>
            <ion-label class="list-lab">appication demo Iviplay </ion-label>
            <button class="btn-app" > voir </button>
          </ion-item>
        </ion-card>

        <ion-card class="lien-card">
          <ion-item lines="none">
            <ion-icon class="unify-icon" name="link-outline"></ion-icon>
            <ion-label class="list-lab">appication mobile Iviplay </ion-label>
            <button class="btn-app" > voir </button>
          </ion-item>
        </ion-card>
      </div>

    </div>

  </div>
  <div class="svce-block svce-historique">
    <!-- <ion-card class="svce-historique-search" > -->
    <ion-searchbar class="hist-search-bar" value="" placeholder="recherchez" ></ion-searchbar>
    <!-- </ion-card> -->
    <ion-card class="svce-historique-content" >
      <ion-title class="title-app" style="margin-bottom: 1rem;" >Historique</ion-title>

    </ion-card>
  </div>
</div>

