<app-layout-service [showCard]="false">
  <ion-label  headerTitle class="ion-text-center header-title" [ngClass]="theme.title +' '+ theme.family">{{title}}</ion-label>

  <div headerIcon>
    <ion-icon style="cursor: pointer" [ngClass]="theme.color" (click)="goTo('notifications')" name="notifications"></ion-icon>
    <ion-icon style="cursor: pointer" class="newspaper-icon" (click)="goTo('historique')" [ngClass]="theme.color" name="newspaper"></ion-icon>
  </div>
  <ion-searchbar [ngClass]="theme.searchbar" inputPlace placeholder="" ></ion-searchbar>


  <div content>
    <ion-card style="" mode="ios" id="contenuService" [class]="theme.colorServiceCard+' mere-card '+ ' ion-padding'"   >
      <div >
        <div class="top-icon-title">
          <ion-label headerTitle class="ion-text-center header-title" [ngClass]="theme.title +' '+ theme.family">{{title}}</ion-label>
          <div class="icon-right" headerIcon>
            <ion-icon style="cursor: pointer" (click)="goTo('notifications')" [ngClass]="theme.color" name="notifications"></ion-icon>
            <ion-icon style="cursor: pointer" class="newspaper-icon" (click)="goTo('historique')" [ngClass]="theme.color" name="newspaper"></ion-icon>
            <!--<ion-icon class="ion-float-end icon ion-padding-horizontal" name="list-outline" (click)="switchAddView()"></ion-icon>
            <ion-icon class="ion-float-end icon ion-padding-horizontal" name="add-outline" (click)="switchHistoryView()"></ion-icon>-->
          </div>
        </div>
        <ion-searchbar [ngClass]="theme.searchbar" inputPlace placeholder="Rechercher" ></ion-searchbar>
      </div>
      <div [class]="theme.scrollbar+' scroller'">
        <ion-accordion-group expand="inset">
          <ion-accordion *ngFor="let product of restaurantProducts" [value]="product.id">
            <ion-item slot="header" color="light">

              <!--<ion-item [class.desactiveProduct]="product.id != 1" (click)="product.products != '' && getCurrentProduct(product)">-->
              <ion-grid class="productGrid">
                <ion-row  class="ion-align-items-center">
                  <ion-col size="2" >
                    <ion-icon  [class]="theme.color+' productIcon'" name="{{product.icon}}-outline"></ion-icon>
                  </ion-col>
                  <ion-col>
                    <span [class]="theme.family+' productName'">{{product.name}}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <!-- <ion-icon  class="productIcon" name="{{product.icon}}-outline"></ion-icon>
              <ion-label>{{product.name}}</ion-label> -->


            </ion-item>
            <ion-list slot="content">
              <ion-item class="curs-point" *ngFor="let item of product.products" (click)="detailProduct(item)">
                <ion-grid class="productGrid">
                  <ion-row  class="ion-align-items-center">
                    <ion-col size="2" >
                      <ion-icon  [class]="theme.color+' productIcon'" name="{{item.icon}}-outline"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <span [class]="theme.family+' productName'">{{item.name}}</span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>

          </ion-accordion>
        </ion-accordion-group>
      </div>

    </ion-card>
  </div>
</app-layout-service>
