<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-menu-button></ion-menu-button>-->
<!--    </ion-buttons>-->
<!--    <div class="menu-bx">-->
<!--      <ion-icon (click)="activeDidacticiel()"-->
<!--      [ngStyle]="{'color': choosenColor$ === 'iviflo.com' ? 'var(&#45;&#45;ion-primarysecond)' : 'var(&#45;&#45;ion-primary)' }"-->
<!--      class="unify-icon" name="library-outline"></ion-icon>-->

<!--      <div class="logo-bx">-->
<!--        <img src="../assets//icon//logo-iviplay-carre.png" alt="">-->
<!--      </div>-->
<!--      <div class="icon-bx">-->
<!--        <ion-icon [ngStyle]="{'color': choosenColor$ === 'iviflo.com' ? '#9f5e4a' : '#247645' }" class="icon1" name="notifications-outline"></ion-icon>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->
